<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/images/oucrc.png">
    <link href="../public/styles/style.css" rel="stylesheet">
    <% const title = members ? 'Open' : 'Closed' %>
    <% const image = members ? 'dnsnkn_open' : 'dnsnkn_close' %>
    <% const style = members ? 'md:w-4/5' : 'md:w-2/3' %>
    <title><%= title %></title>
</head>
<body>
<main class="container h-full mx-auto">
    <img class="bottom-0 fixed left-0 m-auto right-0 top-0 <%= style %>" src="../public/images/<%= image %>.jpg" alt="<%= title %>">
    <a href="https://oucrc.net"><img class="fixed right-3 top-3 w-16" src="../public/images/oucrc.png" alt="Logo"></a>
</main>
</body>
</html>
